{% extends 'base.html' %}
{% load static %}

{% block title%} Login {% endblock %}

{% block navbar %} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid  d-flex  justify-content-center align-items-center bg-secondary bg-opacity-25"
    style="height: 100vh;">

    <div class="w-md-25 bg-light  rounded-2 shadow">
        <div class="d-flex flex-column justify-content-center align-items-center m-3 pt-3">
            <img src="{% static 'images/Workpay.png' %}" class="img-fluid" width="80" height="30" alt="Workpay logo">
            <h3 class="pt-2">Welcome</h3>
        </div>
        <form action="{% url 'login' %}" method="post" class="m-3">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="text-end"><a href="{% url 'password_reset' %}"
                    class="link-primary link-underline-opacity-0">Forgot
                    password?</a>
            </p>

            <input type="submit" value="Login" class="btn btn-success w-100 my-2 fs-5">
            <p class="lead text-center my-2">
                OR
            </p>
            <a href="{% url 'social:begin' 'google-oauth2' %}"
                class="btn btn-outline-success rounded-2 w-100 my-2 fs-5 " type="button">
                <i class="fa-brands fa-google"></i> Log In With Google
            </a>
            <hr>
            <p class="text-center fs-6">Don't have an account?
                <a href="{% url 'select-group' %}" class="link-primary link-underline-opacity-0">Sign
                    Up</a>
            </p>

        </form>

    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}