{% extends "base.html" %}
{% load static %}

{% block title %}Change your password{% endblock %}

{% block navbar %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid bg-secondary bg-opacity-25 d-flex justify-content-center align-items-center"
    style="height: 100vh;">
    <div class="w-25 bg-light rounded-2 shadow">
        <div class="d-flex flex-column justify-content-center align-items-center  m-3">
            <img src="{% static 'images/Workpay.png' %}" class="img-fluid" width="80" height="30" alt="Workpay logo">
            <h3 class="py-2">Change password</h3>
        </div>
        <form method="post" class="m-3">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Change" class="btn btn-success w-100 my-2 fs-5">

        </form>
    </div>
</div>
{% endblock %}

{% block footer %} {% endblock %}