{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid border-bottom border-secondary-subtle  ">
        <a class="navbar-brand" href="#"><img src="{% static 'images/Workpay.png' %}" class="img-fluid" width="80"
                height="30" alt="Workpay logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-md-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Plumbing</a></li>
                        <li><a class="dropdown-item" href="#">Hair and beauty</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->
                        <li><a class="dropdown-item" href="#">Mechanic</a></li>
                        <li><a class="dropdown-item" href="#">Painting</a></li>
                        <li><a class="dropdown-item" href="#">Masionary</a></li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2 rounded-pill shadow-none" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
            </form>
            <div class="pt-3 pt-md-0">
                <img src="{% static 'images/mainawambui.jpg' %}" class="img-fluid rounded-circle" width="40" height="40"
                    alt="user profile">
                <span>@mainawambui</span>
            </div>
        </div>

    </div>
</nav>