{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-secondary bg-opacity-10 pb-5" style="margin-top: 4%;">
    <section class="container h-100 py-3">
        <h3 class="">Find Jobs you love</h3>
        <div class="row">

            <!-- LHS grid column -->
            <div class="col-9 ">
                <div class="bg-light rounded-1 w-100 p-3">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2 rounded-1" type="search" name="q"
                            placeholder="Search for jobs/projects ..." aria-label="Search">
                        <button class="btn btn-success rounded-1" type="submit">Search</button>
                    </form>
                </div>

                <!-- jobs list -->
                <div class="bg-light rounded-1 w-100 p-4 mt-3">
                    <div class="d-flex justify-content-between">
                        <a class="link-success link-underline-opacity-0 fs-4 text-success" href="">React developer</a>
                        <p class="fs-5 text-secondary">Budget <span class=" fw-semibold text-success">$300</span></p>
                    </div>
                    <p class="fs-6">
                        Our team is looking for an experience bubble.io developer to help with dealing with smaller
                        tasks/bug fixes on
                        implementing design features in our app. This will be 5-10 hours a week. Our app deals with
                        content management,
                        images/videos and text. Let us know if you might be a good candidate for this role? Thanks
                    </p>
                    <div class="d-flex flex-wrap gap-3">
                        <span class="border border-success py-1 px-2 rounded-pill m1">User interface design</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UI</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UX</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Adobe XD</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Wireframing</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">User Research</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Mobile Design</span>
                    </div>

                </div>

                <div class="bg-light rounded-1 w-100 p-4 ">
                    <div class="d-flex justify-content-between">
                        <a class="link-success link-underline-opacity-0 fs-4 text-success" href="#">React developer</a>
                        <p class="fs-5 text-secondary">Budget <span class="text-success fw-semibold">$300</span></p>
                    </div>
                    <p>
                        Our team is looking for an experience bubble.io developer to help with dealing with smaller
                        tasks/bug fixes on
                        implementing design features in our app. This will be 5-10 hours a week. Our app deals with
                        content management,
                        images/videos and text. Let us know if you might be a good candidate for this role? Thanks
                    </p>
                    <div class="d-flex flex-wrap gap-3">
                        <span class="border border-success py-1 px-2 rounded-pill m1">User interface design</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UI</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UX</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Adobe XD</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Wireframing</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">User Research</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Mobile Design</span>
                    </div>
                </div>
                <div class="bg-light rounded-1 w-100 p-4 ">
                    <div class="d-flex justify-content-between">
                        <a class="link-success link-underline-opacity-0 fs-4" href="#">React developer</a>
                        <p class="fs-5 text-secondary">Budget <span class="text-dark fw-semibold">$300</span></p>
                    </div>
                    <p>
                        Our team is looking for an experience bubble.io developer to help with dealing with smaller
                        tasks/bug fixes on
                        implementing design features in our app. This will be 5-10 hours a week. Our app deals with
                        content management,
                        images/videos and text. Let us know if you might be a good candidate for this role? Thanks
                    </p>
                    <div class="d-flex flex-wrap gap-3">
                        <span class="border border-success py-1 px-2 rounded-pill m1">User interface design</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UI</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UX</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Adobe XD</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Wireframing</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">User Research</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Mobile Design</span>
                    </div>
                </div>
                <div class="bg-light rounded-1 w-100 p-3 ">
                    <div class="d-flex justify-content-between">
                        <a class="link-success link-underline-opacity-0 fs-4" href="#">React developer</a>
                        <p class="fs-5 text-secondary">Budget <span class="text-dark fw-semibold">$300</span></p>
                    </div>
                    <p>
                        Our team is looking for an experience bubble.io developer to help with dealing with smaller
                        tasks/bug fixes on
                        implementing design features in our app. This will be 5-10 hours a week. Our app deals with
                        content management,
                        images/videos and text. Let us know if you might be a good candidate for this role? Thanks
                    </p>
                    <div class="d-flex flex-wrap gap-3">
                        <span class="border border-success py-1 px-2 rounded-pill m1">User interface design</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UI</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">UX</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Adobe XD</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Wireframing</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">User Research</span>
                        <span class="border border-success py-1 px-2  rounded-pill m1">Mobile Design</span>
                    </div>
                </div>
            </div>

            <!-- RHS grid column -->
            <div class="col-3 ">
                <div class="bg-light rounded-1 p-2">
                    <div class="d-flex justify-content-center align-items-center  flex-column">
                        <img class="img-fluid rounded-circle  " src="{% static 'images/mainawambui.jpg' %}" width="70"
                            height="70" alt="">
                        <span class="fw-bold fs-6 pt-2 text-success ">Maina Wambui</span>
                        <span class=" fw-light fs-6 ">UI/UX Designer</span>
                        <!-- Edit profile -->
                        <a href="{% url 'profile' %}" class="btn btn-outline-success rounded-2 my-3" type="button">
                            Profile</a>
                    </div>
                </div>
                <div class="bg-light rounded-1 p-2">

                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}