{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit your profile {% endblock %}
{% block navbar %} {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <h3>Edit your profile </h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form|crispy }}
            {{ user_form|crispy }}

            <input type="submit" value="Save changes" class="btn btn-success w-100 my-1 fs-5">

        </form>
    </div>
</div>
{% endblock %}