{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit your bio details {% endblock %}

{% block content %}
<div class="container-fluid bg-secondary bg-opacity-10 pb-5 pt-2" style="margin-top: 4%;">
    <section class="container h-100 border border-secondary-subtle ">

        <!-- <div class="container mt-5 border border-secondary-subtle"> -->
        <h3 class="text-center">Edit your profile </h3>
        <form method="post" class="w-75 mx-auto">
            {% csrf_token %}
            {{ bio_form|crispy }}
            <span>Skills</span>
            {{ skills_formset |crispy }}

            <input type="submit" value="Save changes" class="btn btn-success my-3">

        </form>
</div>
</section>
</div>
{% endblock %}