{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Create an account {% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<div class="container-fluid d-flex  justify-content-center align-items-center bg-secondary bg-opacity-25"
    style="height: 100vh;">

    <div class=" w-md-25 bg-light  rounded-2 shadow">
        <div class="d-flex flex-column justify-content-center align-items-center mx-3 pt-3">
            <img src="{% static 'images/Workpay.png' %}" class="img-fluid" width="80" height="30" alt="Workpay logo">
            <h3 class="pt-2">Create an account</h3>
        </div>
        <form method="post" class="mx-3">
            {% csrf_token %}
            {{ user_form|crispy }}

            <input type="submit" value="Create account" class="btn btn-success w-100 my-1 fs-5">
            <p class="lead text-center my-2">
                OR
            </p>
            <button class="btn btn-outline-success rounded-2 w-100 my-1 fs-5 " type="button">Continue With
                Google</button>
            <hr>
            <p class="text-center fs-6">Already have an account? <a href="{% url 'login' %}"
                    class="link-primary link-underline-opacity-0">Log In</a></p>

        </form>

    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}