{% extends 'base.html' %}

{% block content %}
<div class="" style="margin-top: 5%; height: 80vh;">
    <section class="container h-100 position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="border border-success p-5 rounded-2">

                <h3 class="mb-5 opacity-75">Join as Client or freelancer</h3>
                <form action="{% url 'register' %}" method="get">
                    <div class="form-check border border-success rounded-1 my-4 py-3 fs-4">
                        <input class="form-check-input" type="radio" name="role" id="client" value="client">
                        <label class="form-check-label opacity-75" for="client">
                            I'm a client, hiring for a project
                        </label>
                    </div>
                    <div class="form-check border border-secondary rounded-1 my-4 py-3 fs-4">
                        <input class="form-check-input" type="radio" name="role" id="freelancer" value="freelancer">
                        <label class="form-check-label opacity-75" for="freelancer">
                            I'm a freelancer, looking for work
                        </label>
                    </div>

                    <input id='joinBtn' type="submit" value="Join" class="btn btn-success w-100 my-3 fs-5" disabled>

                </form>
                <hr>
                <p class="text-center fs-6">Already have an account? <a href="{% url 'login' %}"
                        class="link-primary link-underline-opacity-0">Log In</a></p>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}{% endblock %}