{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#"><img src="{% static 'images/Workpay.png' %}" class="img-fluid" width="80"
                height="30" alt="Workpay logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Plumbing</a></li>
                        <li><a class="dropdown-item" href="#">Hair and beauty</a></li>
                        <li><a class="dropdown-item" href="#">Mechanic</a></li>
                        <li><a class="dropdown-item" href="#">Painting</a></li>
                        <li><a class="dropdown-item" href="#">Masionary</a></li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'messages' %}">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jobs' %}">jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'freelancers' %}">Freelancers</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
            </form>
            <div class="pt-3 pt-md-0">
                {% if request.user.is_authenticated %}
                <div class="d-flex gap-3 align-items-center dropdown">
                    <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{requset.user.first_name | default:request.user.username}}
                    </span>
                    {% if user.profile.profile_image %}
                    <img src="{{ user.profile.profile_image.url }}" class="img-fluid rounded-circle" width="40"
                        height="40" alt="{{ request.user.username }}">
                    {% else %}
                    <img src="{% static 'images/default-profile-image.jpeg' %}" class="img-fluid rounded-circle"
                        width="40" height="40" alt="{{ request.user.username }}">
                    {% endif %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="d-flex gap-4">
                    <a href="{% url 'login' %}" class="btn btn-success rounded-pill px-4">Log In</a>
                    <a href="{% url 'select-group' %}" class="btn btn-outline-success rounded-pill px-4">Sign
                        Up</a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</nav>